ud4/02/02.dtd


<!ELEMENT continente (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT capital (#PCDATA)>
<!ELEMENT fila (continente, pais, capital)>
<!ELEMENT mundo (fila+)>
<!ATTLIST mundo xmlns:xsi CDATA #IMPLIED > <!-- para que este doblemente validado -->
<!ATTLIST mundo xsi:noNamespaceSchemaLocation CDATA #IMPLIED >