ud4/07/07.dtd

<!ELEMENT grupo (estudiante*)>
    <!ELEMENT estudiante (nombre)>
        <!ELEMENT nombre (#PCDATA)>
        <!ATTLIST estudiante codigo_estudiante ID #REQUIRED>
        <!ATTLIST estudiante codigo_tutor IDREFS #IMPLIED>
    <!ATTLIST grupo xmlns:xsi CDATA #IMPLIED>
    <!ATTLIST grupo xsi:noNamespaceSchemaLocation CDATA #REQUIRED>