ud4/01/01.dtd

    <!ELEMENT destinatario (#PCDATA)>
    <!ELEMENT remitente (#PCDATA)>
    <!ELEMENT fecha_mensaje (#PCDATA)>
    <!ELEMENT asunto (#PCDATA)>
    <!ELEMENT nombre_fichero (#PCDATA)>
    <!ELEMENT tipo_fichero (#PCDATA)>
    <!ELEMENT mail (destinatario+,remitente,fecha_mensaje,asunto?,fichero*)>
    <!ELEMENT fichero (nombre_fichero,tipo_fichero)>